PORT=3000
NODE_ENV=develop

TYPEORM_MYSQL_HOST=host.docker.internal
TYPEORM_MYSQL_PORT=3306
TYPEORM_MYSQL_USERNAME=user
TYPEORM_MYSQL_PASSWORD=user
TYPEORM_MYSQL_DB=demo

JWT_SECRET=asdfasdfasdf23432423sdafsdf123123!@$%@!%@!%23sdfsdafdsf
JWT_EXP=600

REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASS=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
REDIS_COMMON_DB=1
REDIS_TTL=600

ELASTICSEARCH_NODE=http://host.docker.internal:9200

SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin